[submodule "containers/01_specfem-mesher-container"]
	path = containers/01_specfem-mesher-container
	url = git@gitlab.com:kpouget_psap/specfem-client.git
[submodule "containers/02_specfem-solver-container_buildah"]
	path = containers/02_specfem-solver-container_buildah
	url = git@gitlab.com:kpouget_psap/specfem-client.git
[submodule "containers/02_specfem-solver-container_curl"]
	path = containers/02_specfem-solver-container_curl
	url = git@gitlab.com:kpouget_psap/specfem-client.git
[submodule "containers/02_specfem-solver-container_git"]
	path = containers/02_specfem-solver-container_git
	url = git@gitlab.com:kpouget_psap/specfem-client.git
[submodule "containers/00_specfem-base-container_ubi"]
	path = containers/00_specfem-base-container_ubi
	url = git@gitlab.com:kpouget_psap/specfem-client.git
[submodule "containers/00_specfem-base-container_ubuntu"]
	path = containers/00_specfem-base-container_ubuntu
	url = git@gitlab.com:kpouget_psap/specfem-client.git
